#features{
    width: 500px;
    background:rgba(255,255,255,0.6);
    border-radius: 20px;
    margin: 10px auto;
    padding: 10px;
}

#features h3{
    text-transform: uppercase;
    text-align: center;
}
#features table{
    width: 100%;
}
#features td{
    width: 50%;
    text-align: center;
    
}